.App{
    /* background-color: #d4e0e9; */
    /* background-color:rgb(13 110 253 / 25%); */
    /* background-color:rgb(253 13 13 / 40%); */
    /* background-color: #ffc107; */
    height: 100%;
    margin: 0;
    padding: 0;
}